
header{
    background: pink;
    text-align: center;

}
    
.heading{
    display: flex;
    background: pink;
    justify-content: center;
    
}

.AnimalPara{
    display: flex;
}

table, th, td {
    border: 1px solid black;
}

